.App {
  text-align: center;
}

.title {
  background: #181818;
  margin-top: 0;
  color: white;
  padding: 1rem;
}

.fun input{
  padding: 0.25rem;
  text-align: center;
  margin: 1rem 0.5rem;
  box-shadow: 0 2px 2px #ccc;
}

.fun-desc {
  margin: 0.5rem auto;
  padding: 0.5rem;
  background: linear-gradient(to right, #64FFDA, #A7FFEB);
  box-shadow: 0 2px 2px #00BFA5;
  width: 300px;
}